@model project.Models.product

@{
    ViewData["Title"] = "Details";
}
<br />
<h1>Product Details</h1>

<div>
    
    <hr />
    <br />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price) ฿
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileName)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content("~/projectpig/" + Model.ImageFileName)" width="100" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
    </dl>
</div>
<div>
        <a class="btn btn-danger" asp-action="Index">Back to List</a>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
   
</div>
<style>
    .row {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        padding: 30px 30px;
        font-size: 17px;
        font-family: sans-serif;
    }

    h1 {
        font-family: "Play", sans-serif;
        color:cadetblue;
    }

    h3 {
        font-family: sans-serif;
    }
    .col-sm-2 {
        font-family: "Play", sans-serif;
    }

    dl.row dt,
    dl.row dd {
        margin-bottom: 15px;
    }
</style>
